AWSTemplateFormatVersion: "2010-09-09"
Description: S3 Lifecycle rules for Control Tower Log Archive buckets

Parameters:
  LogBucketName:
    Type: String
    Default: "aws-controltower-logs-640693977485-eu-west-1"
    Description: Main Control Tower logs bucket
  AccessLogBucketName:
    Type: String
    Default: "aws-controltower-s3-access-logs-640693977485-eu-west-1"
    Description: Control Tower S3 access logs bucket
  ExpirationInDays:
    Type: Number
    Default: 365
    Description: Expiration in days
  NoncurrentVersionExpirationInDays:
    Type: Number
    Default: 1
    Description: Noncurrent version expiration in days
  AbortIncompleteMultipartUploadDays:
    Type: Number
    Default: 7
    Description: Abort incomplete multipart upload days

Resources:
  LogBucketLifecycle:
    Type: AWS::CloudFormation::Stack
    Properties:
      TemplateURL: ./s3-lifecycle-rules.template
      Parameters:
        BucketName: !Ref LogBucketName
        ExpirationInDays: !Ref ExpirationInDays
        NoncurrentVersionExpirationInDays: !Ref NoncurrentVersionExpirationInDays
        AbortIncompleteMultipartUploadDays: !Ref AbortIncompleteMultipartUploadDays

  AccessLogBucketLifecycle:
    Type: AWS::CloudFormation::Stack
    Properties:
      TemplateURL: ./s3-lifecycle-rules.template
      Parameters:
        BucketName: !Ref AccessLogBucketName
        ExpirationInDays: !Ref ExpirationInDays
        NoncurrentVersionExpirationInDays: !Ref NoncurrentVersionExpirationInDays
        AbortIncompleteMultipartUploadDays: !Ref AbortIncompleteMultipartUploadDays
