---
AWSTemplateFormatVersion: "2010-09-09"
Description: Creates an IAM Role with permissions to describe ec2 regions.
Parameters:
  dummyParameter:
    Type: String
    Description: This is a dummy parameter. Placeholder for pipeline validations.

Resources:
  TestLambdaRole:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: sts:AssumeRole
      Path: /
      Policies:
        - PolicyName: DescribeRegions
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Effect: Allow
                Action:
                  - ec2:DescribeRegions
                Resource: "*"
